@model GestaoMais.Web.Controllers.Pessoa.ViewModel

@{
    ViewData["Title"] = "Create";
}



<h4>Pessoa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pessoa.Nome" class="control-label"></label>
                <input asp-for="Pessoa.Nome" class="form-control" />
                <span asp-validation-for="Pessoa.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.CpfCnpj" class="control-label"></label>
                <input id="cpfCnpj" asp-for="Pessoa.CpfCnpj" class="form-control" />
                <span asp-validation-for="Pessoa.CpfCnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Rg" class="control-label"></label>
                <input asp-for="Pessoa.Rg" class="form-control" />
                <span asp-validation-for="Pessoa.Rg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.DataNascimento" class="control-label"></label>
                <input asp-for="Pessoa.DataNascimento" class="form-control" />
                <span asp-validation-for="Pessoa.DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Nacionalidade" class="control-label"></label>
                <a class="addNew" asp-area="" asp-controller="Nacionalidades" asp-action="Index">Adicionar novo(a)</a>
                <select asp-for="Pessoa.NacionalidadeId" class="form-control" asp-items="ViewBag.NacionalidadeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Sexo" class="control-label"></label>
                <a class="addNew" asp-area="" asp-controller="Sexoes" asp-action="Index">Adicionar novo(a)</a>
                <select asp-for="Pessoa.SexoId" class="form-control" asp-items="ViewBag.SexoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.TipoPessoaId" class="control-label"></label>
                <a class="addNew" asp-area="" asp-controller="TipoPessoas" asp-action="Index">Adicionar novo(a)</a>
                <select asp-for="Pessoa.TipoPessoaId" class="form-control" asp-items="ViewBag.TipoPessoaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Logradouro" class="control-label"></label>
                <input asp-for="Pessoa.Logradouro" class="form-control" />
                <span asp-validation-for="Pessoa.Logradouro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Bairro" class="control-label"></label>
                <input asp-for="Pessoa.Bairro" class="form-control" />
                <span asp-validation-for="Pessoa.Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Municipio" class="control-label"></label>
                <input asp-for="Pessoa.Municipio" class="form-control" />
                <span asp-validation-for="Pessoa.Municipio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Cep" class="control-label"></label>
                <input id="cep" asp-for="Pessoa.Cep" class="form-control" />
                <span asp-validation-for="Pessoa.Cep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Numero" class="control-label"></label>
                <input asp-for="Pessoa.Numero" class="form-control" />
                <span asp-validation-for="Pessoa.Numero" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Pessoa.Ativo" /> @Html.DisplayNameFor(model => model.Pessoa.Ativo)
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Visualizar lista de registros</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
