@model GestaoMais.Entities.Entities.Aluno

@{
    ViewData["Title"] = "Create";
}



<h4>Aluno</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pessoa" class="control-label"></label>
                <a class="addNew" asp-area="" asp-controller="Pessoas" asp-action="Index">Adicionar novo(a)</a>
                <select asp-for="PessoaId" class="form-control" asp-items="ViewBag.PessoaId"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Visualizar lista de registros</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
