@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo(a)</h1>
    <p>Software de gestão de bibliotecas. <a href="https://github.com/CristhyanKo/creamt-gestao-biblioteca">Desenvolvido por Cristhyan Kohlhase</a>.</p>
</div>
