<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GestaoMais.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/biblioteca.css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <div class="topBar">
        <div class="logo">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GestaoMais.Web</a>
        </div>
    </div>

    <div class="content">
        <div class="nav">
            <div class="navMenu">
                <ul>
                    <a class="active" asp-area="" asp-controller="Home" asp-action="Index"><li>Inicio</li></a>

                    <li>
                        <div class="navMenuMulti">
                            <strong>Movimentação</strong>
                            <hr />
                            <ul>
                                <a asp-area="" asp-controller="Movimentacaos" asp-action="Index"><li>Movimentações</li></a>
                                <a asp-area="" asp-controller="MovimentacaoSituacaos" asp-action="Index"><li>Movimentação Situação</li></a>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <div class="navMenuMulti">
                            <strong>Cadastros</strong>
                            <hr />
                            <ul>
                                <a asp-area="" asp-controller="Livroes" asp-action="Index"><li>Livro</li></a>
                                <a asp-area="" asp-controller="Funcionarios" asp-action="Index"><li>Funcionário</li></a>
                                <a asp-area="" asp-controller="Alunoes" asp-action="Index"><li>Aluno</li></a>
                                <a asp-area="" asp-controller="Autors" asp-action="Index"><li>Autores</li></a>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="navMenuMulti">
                            <strong>Sistema</strong>
                            <hr />
                            <ul>
                                <a asp-area="" asp-controller="Pessoas" asp-action="Index"><li>Pessoas</li></a>
                                <a asp-area="" asp-controller="TipoPessoas" asp-action="Index"><li>Tipo de Pessoa</li></a>
                                <a asp-area="" asp-controller="TipoTelefones" asp-action="Index"><li>Tipo de Telefone</li></a>
                                <a asp-area="" asp-controller="Sexoes" asp-action="Index"><li>Sexo</li></a>
                                <a asp-area="" asp-controller="Nacionalidades" asp-action="Index"><li>Nacionalidades</li></a>
                                <a asp-area="" asp-controller="Categorias" asp-action="Index"><li>Categorias</li></a>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container2">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/biblioteca.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
