<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GestaoMais.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/biblioteca.css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <div class="topBar">
        <div class="logo">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GestaoMais.Web</a>
        </div>
    </div>

    <div class="content">
        <div class="nav">
            <div class="navMenu">
                <ul>
                    <a class="active" asp-area="" asp-controller="Home" asp-action="Index"><li>Inicio</li></a>
                    <hr />
                    <a asp-area="" asp-controller="Movimentacaos" asp-action="Index"><li>Movimentações</li></a>

                    <li>
                        <div class="navMenuMulti">
                            <strong>Cadastros</strong>
                            <hr />
                            <ul>
                                <a asp-area="" asp-controller="Livroes" asp-action="Index"><li>Livro</li></a>
                                <a asp-area="" asp-controller="Funcionarios" asp-action="Index"><li>Funcionário</li></a>
                                <a asp-area="" asp-controller="Alunoes" asp-action="Index"><li>Aluno</li></a>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="navMenuMulti">
                            <strong>Outros</strong>
                            <hr />
                            <ul>
                                <a asp-area="" asp-controller="Pessoas" asp-action="Index"><li>Pessoa</li></a>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GestaoMais.Web</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Categorias" asp-action="Index">Categorias</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Funcionarios" asp-action="Index">Funcionarios</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>*@

        <div class="container2">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>


    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - GestaoMais.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/biblioteca.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
